<section class="well">
    <h2>Nasi klienci</h2>

    <p>Świadczymy usługi księgowe firmom o różnych profilach działalności:</p>

    <ul>
        <li>sklepy i hurtownie</li>
        <li>firmy budowlane</li>
        <li>firmy transportowe</li>
        <li>gospodarstwa rolne</li>
        <li>przedszkola niepubliczne</li>
    </ul>

    <section class="text-center">
        <a class="btn btn-primary" href="{{ url('contact') }}">Zostań naszym klientem</a>
    </section>
</section>