<section class="well">
    <h2>Cennik</h2>

    <p>Poniżej podajemy przybliżone koszty naszych najpopularniejszych usług:</p>

    <ul>
        <li>
            Ryczałt: <b>od 200 zł</b>
        </li>
        <li>
            KPiR: <b>od 300 zł</b>
        </li>
        <li>
            Księga handlowa: <b>od 900 zł</b>
        </li>
    </ul>

    <p>Podane kwoty są cenami netto.</p>

    <section class="text-center">
        <a class="btn btn-primary" href="{{ url('contact') }}">Napisz do nas</a>
    </section>
</section>
